*{
	box-sizing: border-box;	
}
html, body{
	margin: 0;
	padding: 0;
}
a, a:hover, a:active{
	text-decoration: none!important;
}
li{
	list-style: none;
}
body{
	background-color: #F8F8FF;
	/*margin-top: -20px;*/
	font-family: 'Raleway', sans-serif;
}
header{
	width: 100%;
	height: 300px;
	background: url("../img/teste-logo.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0 -35px;
}
header #logo{
	text-align: center;
	font-size: 45px;
	color: #fff;
}
header ul.nav{
	background-color: #FF9700;
}
header ul.nav li a{
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;	
	transition: 1s;
}
header ul.nav li a:hover{
	background-color: black;
}
header ul.nav li{
	margin-left: 110px;
}
header ul.nav li input[type="text"]{
	margin-top: 3px;
}
header .container{
	/*position: absolute;*/
	margin-left: 90px;
}
section{
	padding: 15px 0;
}
section #banner-logo h2{
	position: relative;
    top: -75px;
    text-align: center;
    color: #fff;
}
section .container h2:first-child, footer .container{
	text-align: center;
}
#atracoes{
	text-align: center;
	padding: 40px 0 60px 0;
}
@keyframes up {
  from {	
    margin-top: 20px;
  }
  to {
    margin-top: 0;
  }
}
#atracoes .col-md-4 .detalhes{
	height: 200px;
	background-color: #FF9700;
}
#atracoes .col-md-4 img{
	margin-top: 20px;
}
/*#atracoes .col-md-4 a:hover{
	animation-duration: 1s;
	animation-name: up;
}*/
#atracoes .col-md-4 a{
	display: block;
    float: left;
    padding: 0 45px;
    font-size: 18px;
    margin-top: 30px;
    color: #000;
    transition: 0.5s;
}
#atracoes .col-md-4 a:hover{
	color: #fff;
}
.col-md-6 .categorias{
	padding-left: 0;
}
.col-md-6 .categorias li{
	margin: 15px 0 0 15px;
	font-size: 16px;
}
.col-md-6 .categorias li a{
	color: #696969;	
}
section .col-md-6 .lugar{
	margin-top: 10px;
}
section .col-md-6 .lugar a{
	display: table;
	font-size: 16px;
	color: #000;
	margin-top: 15px;
	transition: 0.2s;
	padding-left: 5px;
}
section .col-md-6 .lugar a:hover{
	color: #FF9700;
	border-left: #FF9700 1px solid;
}
.lugar img{	
	width: 350px;
	height: 150px;
	border-radius: 15px;
	transition: 0.5s;
}
.lugar-detalhes #contato{
	padding: 60px 0 20px 0;
}
#slides-lugar{
	width: 50%!important;
}
#slides-lugar img{
	width: 180px;
    height: 210px;
}
#slides-lugar .item{
	margin: 5px;
}
#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
	padding: 0 5px;
}
#contato a{
	display: table;
	color: #000;
	margin-top: 10px;
	transition: 0.5s;
}
#contato a:hover{
	color: #FF9700;
}
/*.lugar img:hover{
	border: 4px solid #ccc;	
} animaçao*/
footer{
	background-color: #000;
	color: #fff;
	padding: 10px 0;
}
