<!-- bootstrap -->
<script src="{$path}/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- plugins rafael -->
<script src="{$path}/res/js/scripts.js"></script>

<!-- plugins do joao -->
<script src="{$path}/res/js/jrangel/jquery.core.js"></script>
<script src="{$path}/res/js/jrangel/jquery.btnload.js"></script>
<script src="{$path}/res/js/jrangel/jquery.btnrest.js"></script>
<script src="{$path}/res/js/jrangel/jquery.store.js"></script>
<script src="{$path}/res/js/jrangel/jquery.form.js"></script>