<!-- <div>
	{loop="lugares"}

		<a href="{$path}/lugares/{$value.idlugar}">{$value.deslugar}</a>

	{/loop}
</div> -->

	<div class="container">

		<div class="row">

			{loop="lugares"}

				<div class="col-md-6">

					<div class="lugar">
					
						<img src="{$path}/res/img/{$value.deslogo}" alt="{$value.deslugar}">
						<a href="{$path}/lugares/{$value.idlugar}"><h3>{$value.deslugar}</h3></a>
						<p>{$value.desendereco}, {$value.desbairro} {if="!$value.descep"} {else} , {$value.descep} {/if} - {$value.descidade}, {$value.desestado}</p>
						<a href="#">Como chegar</a>
						<a href="{$path}/lugares/{$value.idlugar}">Saiba mais</a>

					</div>

				</div>

			{/loop}

		</div>

	</div>