	<script src="{$path}/res/js/initMap.js"></script>
	<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9Lf1NSrcr-dUAL2uiycmW3XVdyrlHMic&callback=initMap">
    </script>
	<div class="container" ng-controller="listContatos">
		
		<div class="row lugar-detalhes">
			
			<div class="col-md-6">
			
				<h1>{$lugar.deslugar}</h1>
				<h4>{$lugar.desendereco}, {$lugar.desbairro} - {$lugar.descidade}, {$lugar.desestado}{if="!$lugar.descep"}{else}, {$lugar.descep}{/if}</h4>
	
				<div id="contato">
					<h3>Entre em contato</h3>
					<a href="tel:{{contato.descontato}}" ng-repeat="contato in contatos"><img src="{$path}/res/img/{{contato.desicone}}" alt="{$lugar.deslugar}"> {{contato.descontato}}</a>
				</div>
			
			</div>

			<div class="col-md-6" id="map" style="height:250px;" data-lat="{$lugar.deslatitude}" data-lng="{$lugar.deslongitude}" data-title="{$lugar.deslugar}"></div>

		</div>

		<div class="row">

			<div class="col-md-6">
					
				

			</div>

			<div class="col-md-6" id="slides-lugar">
				
				{if="!count($fotos > 0)"}
					<div class="item"><img src="{$path}/res/img/sem-imagem.jpg" alt="Sem imagens"></div>
				{elseif="!count($fotos === 1)"}
					<div class="item"><img src="{$path}/res/img/{$fotos.desfoto}" alt="{$lugar.deslugar}"></div>
				{else}
					{loop="fotos"}
						<div class="item"><img src="{$path}/res/img/{$value.desfoto}" alt="{$lugar.deslugar}"></div>
					{/loop}
				{/if}



			</div>

		</div>

	</div>

	<script>
	angular.module("guia", []).controller("listContatos", function($http, $scope){

		$scope.contatos = [];

		var idlugar = "{$lugar.idlugar}";

		$scope.loadContatos = function(){
			$.store({
				$http:$http,
				cache:false,
				url:PATH+"/lugares/"+idlugar+"/contatos/all",
				success:function(contatos){
					$scope.contatos = contatos;
				},
				failure:function(r){
					System.showError(r);
				}
			})
		};

		$scope.loadFotos = function(){
			$.store({
				$http:$http,
				cache:false,
				url:PATH+"/lugares/"+idlugar+"/fotos/all",
				success:function(fotos){
					$scope.fotos = fotos;
				},
				failure:function(r){
					System.showError(r);
				}
			});
		};

		$scope.loadContatos();
		// $scope.loadFotos();

	});
	</script>